SPRING_PROFILES_ACTIVE=prod

DB_HOST=TODO_DB_HOST
DB_PORT=3306
DB_NAME=lms-db
DB_USER=user
DB_PASSWORD=TODO

JWT_SECRET=TODO_REPLACE_WITH_LONG_RANDOM_STRING
JWT_ACCESS_TOKEN_EXPIRATION_SECONDS=3600

NCP_ACCESS_KEY=TODO
NCP_SECRET_KEY=TODO
NCP_S3_ENDPOINT=https://kr.object.ncloudstorage.com
NCP_S3_REGION=kr-standard
NCP_BUCKET=lms-static

KMS_ENABLED=false
KMS_BASE_URL=https://ocapi.ncloud.com
KMS_KEY_TAG=TODO
KMS_ACCESS_KEY=TODO
KMS_SECRET_KEY=TODO
KMS_TOKEN_CREATOR_ID=TODO

EDGE_AUTH_ENABLED=false
EDGE_AUTH_KEY=TODO
EDGE_AUTH_TOKEN_NAME=token
EDGE_AUTH_DURATION_SECONDS=3600

VOD_STATION_ENABLED=false
VOD_STATION_CATEGORY_ID=TODO
VOD_STATION_ACCESS_KEY=TODO
VOD_STATION_SECRET_KEY=TODO

STATIC_BASE_URL=https://static.uoscholar-server.store
CORS_ALLOWED_ORIGIN=https://lms.uoscholar-server.store,https://static.uoscholar-server.store

DEMO_USER_EMAIL=demo@lms.local
DEMO_USER_PASSWORD=demo1234!
DEMO_ADMIN_EMAIL=admin@lms.local
DEMO_ADMIN_PASSWORD=admin1234!
